/* AugMath CSS */

#math, .base .mbin, .base .mord, .base .mrel, .base .minner, .base .mopen, .base .mclose, .base .vlist {
	position: relative;
}

#math {
	top:55px !important;
}

.mrel {
	color: blue;
	font-weight: bold;
}

.selected {
	color: red;
	border-color: red;
}

.base {
	cursor: default;
}

.math, .manip, .basic_ops, .more_ops, #MathInput {
	text-align: center;
}

.math {
	height: 150px;
}

.note {
	font-size:0.5em;
}

#show_latex {
	cursor: pointer;
}

#depth {
	width: 45px;
}

.bottom-buffer {
	margin-bottom:20px;
}

.eq_buttons, .his_buttons {
	display: none;
}

/*history and recording stuff*/

#history_list * {
	color: black;
}

.recording {
	background-color: red;
}

.recording-active {
	-webkit-animation: pulse1 1s linear infinite;
	-moz-animation: pulse1 1s linear infinite;
	-ms-animation: pulse1 1s linear infinite;
	animation: pulse1 1s linear infinite;
}

@keyframes pulse1 {
 0% {
    background-color: #337ab7;
 }

 50% {
    background-color: red;
 }

 100% {
 	background-color: #337ab7;
 }

}

@-moz-keyframes pulse1 {
 0% {
    background-color: #337ab7;
 }

 50% {
    background-color: red;
 }

 100% {
 	background-color: #337ab7;
 }

}

@-webkit-keyframes pulse1 {
 0% {
    background-color: #337ab7;
 }

 50% {
    background-color: red;
 }

 100% {
 	background-color: #337ab7;
 }

}

@-ms-keyframes pulse1 {
 0% {
    background-color: #337ab7;
 }

 50% {
    background-color: red;
 }

 100% {
 	background-color: #337ab7;
 }

}

.playing {
	border-color: blue;
}
