/* AugMath CSS */

.math, .math .base .mbin, .math .base .mord, .math .base .mrel, .math .base .minner, .math .base .mopen, .math .base .mclose, .math .base .vlist {
	position: relative;
}

.math {
	padding: 10px;
}

/*.math {
	top:55px !important;
}*/

#MathInput {
	/*height: 50px;*/
	display:block;
	overflow:auto;
	margin-bottom: 30px;
}

.selected-equation {
	background-color: #EEE;
}

/*.math {
	height: 50px !important;
}*/

.mrel {
	color: blue;
	font-weight: bold;
}

.selected {
	color: red;
	border-color: red;
}

.base {
	cursor: default;
}

.math, .manip, .basic_ops, .more_ops, #MathInput {
	text-align: center;
}

.math {
	height: 150px;
	position: relative;
	font-size: 1em;
	height: 100%;
}

.note {
	font-size:0.5em;
}

#show_latex {
	cursor: pointer;
}

#depth {
	width: 45px;
}

.TKAdjustableNumber {
	position:relative;
	color: #46f;
	border-bottom: 1px dashed #46f;
}

.bottom-buffer {
	margin-bottom:20px;
}

.eq_buttons, .his_buttons {
	display: none;
}

.equation-list {
	padding: 10px;
	background-color: white;
	margin: 5px;
}

#search-eq {
	width: 85%;
	display: inline;
}

#user-login {
	padding: 14px;
	margin-right: 100px;
}

/*history and recording stuff*/

#history_list * {
	color: black;
}

#save-rec-name {
	display: inline;
	width: 80%;
	margin-left: 15px;
	margin-top:10px;
}

.tags-input {
	margin-top: 10px;
}

#save-rec-submit {
	margin-bottom: 10px;
}

#recording {
    display:none;
}
#recording + label {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 60px 0 0;
		padding-left: 19px;
    vertical-align:middle;
    background:url(img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}
#recording:checked + label {
    background:url(img/check_radio_sheet.png) -57px top no-repeat;
}

.recording {
	background-color: red;
}

.recording-active {
	-webkit-animation: pulse1 1s linear infinite;
	-moz-animation: pulse1 1s linear infinite;
	-ms-animation: pulse1 1s linear infinite;
	animation: pulse1 1s linear infinite;
}

@keyframes pulse1 {
 0% {
    background-color: #337ab7;
 }

 50% {
    background-color: red;
 }

 100% {
 	background-color: #337ab7;
 }

}

@-moz-keyframes pulse1 {
 0% {
    background-color: #337ab7;
 }

 50% {
    background-color: red;
 }

 100% {
 	background-color: #337ab7;
 }

}

@-webkit-keyframes pulse1 {
 0% {
    background-color: #337ab7;
 }

 50% {
    background-color: red;
 }

 100% {
 	background-color: #337ab7;
 }

}

@-ms-keyframes pulse1 {
 0% {
    background-color: #337ab7;
 }

 50% {
    background-color: red;
 }

 100% {
 	background-color: #337ab7;
 }

}

.playing {
	border-color: blue;
}
