#math, .base .mbin, .base .mord, .base .mrel, .base .minner, .base .mopen, .base .mclose, .base .vlist {
	position: relative;
}

.mrel {
	color: blue;
	font-weight: bold;
}

.selected {
	color: red;
	border-color: red;
}

.base {
	cursor: default;
}

.math, .manip, .basic_ops, .more_ops, #MathInput {
	text-align: center;
}

.math {
	height: 150px;
}

.manip {
	
}

.note {
	font-size:0.5em;
}

#depth {
	width: 45px;
}